/* .Main-body{
    display: grid;
    grid-template-columns: 4fr 2fr;
}
.main{
    border: 2px red solid;

}
.sidebar{
    border: 2px red solid;
}

.cart{
    height: 350px;
    width: 250px;
    border: 1px rgb(4, 4, 4) solid;
}
 */
